---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
import landing from "@/assets/images/landing.png";
import instagram from "@/assets/images/instagram.jpg";
import Footer from "@/components/Footer.astro";
import Productprops from "@/components/productprops.astro";
import waves from "/home/ubuntu/Desktop/quarkus-works/honey-museum/public/wave .png";
import Viewbutton from "@/components/Viewbutton.astro";
import bee from "/home/ubuntu/Desktop/quarkus-works/honey-museum/public/bee.png";
---

<DefaultLayout title="Home">
  <main class="overflow-hidden container mx-auto">
    <div class="bg-[hsla(48,97%,49%)] text-black flex max-h-fit">
      <div class="p-10 bg">
        <h1 class="text-4xl font-medium leading-tight mb-6 w-fit">
          Explore the Natural Richness of Idukki at <br /> Vattavada Honey Museum
        </h1>
        <p class="text-lg text-black bg- font-normal">
          Your Gateway to Authentic Honey, Chocolates, Spices, and Adventures
        </p>
        <button
          class="mt-7 bg-orange-400 text-gray-50 px-8 py-1 border rounded-full border-transparent scroll-to :"
        >
          Know more
        </button>
      </div>
      <div class="">
        <Image src={landing} alt="Honey image" class="-mx-10 hidden sm:block" />
      </div>
    </div>

    <div class="">
      <Image src={waves} alt="" class="size-full" />
    </div>

    <div class="w-screen h-36"></div>

    <div class="flex justify-center">
      <div class="">
        <Image src={bee} alt="bee" class="size-10" />
      </div>
      <div
        class="font-medium w-64 p flex items-center justify-center capitalize text-3xl text-black"
      >
        Our best sellers
      </div>
    </div>

    <div class="flex justify-between relative translate-y-44 z-10">
      <Productprops />
      <Productprops />
      <Productprops />
    </div>

    <!-- Wrap the button inside a div with a higher z-index and relative position -->
    <div
      class="w-screen flex justify-center z-30 relative mt-16 bg -translate-x-80"
    >
      <a href="products">
        <button
          class="text-orange-400 border-2 rounded-full border-orange-400 py-3 px-12 font-semibold hover:bg-orange-300"
        >
          View all products
        </button>
      </a>
    </div>

    <!-- 
      <div class="">
        <div class="overflow-hidden relative">
          <div
            class="flex transition-transform duration-50 ease-in-out transform translate-x-0"
            id="slides"
          >
            <img src="image1.jpeg" alt="Slide 1" class="w-full" />
            <img src="image2.jpeg" alt="Slide 2" class="w-full" />
            <img src="image3.jpeg" alt="Slide 3" class="w-full" />
            <img src="image4.jpeg" alt="Slide 3" class="w-full" />
            <img src="image5.jpeg" alt="Slide 3" class="w-full" />
            <img src="image6.jpeg" alt="Slide 3" class="w-full" />
            <img src="image7.jpeg" alt="Slide 3" class="w-full" />
          </div>
        </div>

        <div class="flex justify-center mt-4 space-x-2">
          <button
            class="w-3 h-3 bg-gray-300 rounded-full"
            onclick="currentSlide(0)"></button>
          <button
            class="w-3 h-3 bg-gray-300 rounded-full"
            onclick="currentSlide(1)"></button>
          <button
            class="w-3 h-3 bg-gray-300 rounded-full"
            onclick="currentSlide(2)"></button>
        </div>
      </div> -->

    <div class="h-32 bg"></div>
    <a
      href="https://www.instagram.com/vattavada_honey_museum_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      target="_blank"
    >
      <Image src={instagram} alt="instagram" class="-translate-y-1" />
    </a>
  </main>
  <Footer />
</DefaultLayout>

<script>
  const buttons = document.querySelectorAll("button.scroll-to");

  if (buttons.length > 0) {
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const bestSellersElement = document.getElementById("best-sellers");
        if (bestSellersElement) {
          bestSellersElement.scrollIntoView({ behavior: "smooth" });
        } else {
          console.error('Element with ID "best-sellers" not found.');
        }
      });
    });
  } else {
    console.error('No buttons with class "scroll-to" found.');
  }
</script>
