---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
import landing from "@/assets/images/landing.png";
import Instagram from "@/components/Instagram.astro";
import Footer from "@/components/Footer.astro";
import Productprops from "@/components/productprops.astro";
import waves from "@/assets/images/wave.png";
import bee from "@/assets/images/bee.png";
import Slideshow from "@/components/Slideshow.astro";
---

<DefaultLayout title="Home">
  <main class="overflow-hidden container mx-auto">
    <div class="bg-[hsla(48,97%,49%)] text-black flex max-h-fit">
      <div class="p-10">
        <h1 class="text-4xl font-medium leading-tight mb-6 w-fit">
          Explore the Natural Richness of Idukki at <br /> Vattavada Honey Museum
        </h1>
        <p class="text-lg text-black">
          Your Gateway to Authentic Honey, Chocolates, Spices, and Adventures
        </p>
        <button
          class="mt-7 bg-orange-400 text-gray-50 px-8 py-1 border-transparent rounded-full scroll-to"
        >
          Know more
        </button>
      </div>
      <div>
        <Image src={landing} alt="Honey image" class="-mx-10 hidden sm:block" />
      </div>
    </div>

    <div>
      <Image src={waves} alt="" class="w-full" />
    </div>

    <div class="flex justify-center items-center space-x-4 py-8">
      <Image src={bee} alt="bee" class="w-20 h-20" />
      <div class="font-medium text-3xl text-black capitalize">
        Our best sellers
      </div>
    </div>

    <div class="flex justify-between relative translate-y-44 z-10">
      <Productprops />
      <Productprops />
      <Productprops />
    </div>

    <div class="w-screen flex justify-center z-30 relative">
      <a href="products">
        <button
          class="text-orange-400 border-2 rounded-full border-orange-400 py-3 px-12 font-semibold hover:bg-orange-300 -translate-x-80"
        >
          View all products
        </button>
      </a>
    </div>
    <div class="p-16"></div>
    <Slideshow />
    <Instagram />
    <Footer />
  </main>
</DefaultLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const slides = document.querySelector("#slides") as HTMLDivElement | null;

    if (!slides) {
      console.error("Carousel elements not found");
      return;
    }

    const slideElements = Array.from(slides.children) as HTMLElement[];
    const slideCount = slideElements.length;
    let index = 0;

    function updateSlidePosition() {
      const slideWidth = slideElements[0]?.offsetWidth ?? 0;
      if (slides) {
        slides.style.transform = `translateX(-${index * slideWidth}px)`;
      }
    }

    slideElements.forEach((slide, idx) => {
      slide.addEventListener("click", () => {
        index = idx;
        updateSlidePosition();
      });
    });

    setInterval(() => {
      index = (index + 1) % slideCount;
      updateSlidePosition();
    }, 3000);
  });
</script>
