<!-- ---
import "swiper/swiper-bundle.min.css";
import Swiper from "swiper";
import "swiper/swiper-bundle.min.js";
import {Pagination} from 'swiper/modules'
---

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/path/to/your/image1.jpg" alt="Slide 1" />
    </div>
    <div class="swiper-slide">
      <img src="/path/to/your/image2.jpg" alt="Slide 2" />
    </div>
    <div class="swiper-slide">
      <img src="/path/to/your/image3.jpg" alt="Slide 3" />
    </div>

  </div>


  <div class="swiper-pagination"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".swiper-container", {
      effect: "fade",
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  });
</script> -->
