---
import { Image } from "astro:assets";
import landing from "@/assets/images/landing.png";
import product from "@/assets/images/product.png";
---

<div class="">
  <div class="bg-white h-96 flex justify-between">
    <h1
      class="text-orange-400 capitalize p-4 text-8xl font-medium bg-white w-full mx-4 flex items-end"
    >
      Visit us
    </h1>
    <div
      class="bg-white w-full flex items-center justify-center text-orange-400 text-xl mx-10 font-medium"
    >
      <h1>Maps Location</h1>
      <Image src={product} alt="products" class="translate-y-44" />
    </div>
  </div>
  <div class="bg-yellow-500 flex justify-center mx-10 p-4">
    <a href="/">
      <h1 class="text-white">Vattavada Honey museum</h1>
    </a>
  </div>
  <div class="flex text-xl justify-center mx-10">
    <div
      class="bg-yellow text-black w-screen p-4 h-full bottom-10 gap-14 flex justify-center items-start bg-yellow-500 capitalize text-lg"
    >
      <a href="/" class="hover:underline">Home</a>
      <a href="/aboutus" class="hover:underline">about us</a>
      <a href="/products" class="hover:underline">Products</a>
      <a href="/contactus" class="hover:underline">Contact us</a>
    </div>
  </div>
  <div class="bg-yellow-500 mx-10 h-40 p-4">
    <hr class="w-full border-black mx-32 -translate-x-32" />
    <h1 class="flex items-center justify-center capitalize translate-y-10">
      &copy; Copyright quarkus
    </h1>
  </div>
</div>
