---
import Nav from "./Nav.astro";
---

<header class="fixed top-0 w-full justify-between -translate-y-0">
  <div>
    <div class="hidden xl:flex items-center gap-8"></div>
    <Nav />
  </div>
</header>
