---
import instagram from "@/assets/images/instagram.jpg";
import { Image } from "astro:assets";
---

<div class="h-32"></div>
<a
  href="https://www.instagram.com/vattavada_honey_museum_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
  target="_blank"
>
  <Image src={instagram} alt="instagram" class="-translate-y-1" />
</a>
