---
import { Image } from "astro:assets";
import favicon from "public/favicon.svg";
---

<div class="capitalize text-xl bg-[#f6c604f5] p-20">
  <div
    class="lg:flex lg:gap-20 lg:-translate-y-14 translate-x-32
  sm:flex sm:gap-10"
  >
    <a href="/">
      <!-- <h1 class="text-white">Vattavada Honey museum</h1> -->
      <Image src={favicon} alt="favicon" class="size-10 color-white" />
    </a>
    <a href="/" class="hover:underline">Home</a>
    <a href="/aboutus" class="hover:underline">about us</a>
    <a href="/products" class="hover:underline">Products</a>
    <a href="/contactus" class="hover:underline">Contact us</a>
  </div>
  <div class="flex font-bold"></div>
</div>
