<div class="flex capitalize text-xl bg-yellow-500 p-10 justify-between">
  <div>
    <a href="/">
      <h1 class="text-white">Vattavada Honey museum</h1>
    </a>
  </div>
  <div class="flex gap-20">
    <a href="/" class="hover:underline">Home</a>
    <a href="/aboutus" class="hover:underline">about us</a>
    <a href="/products" class="hover:underline">Products</a>
    <a href="/contactus" class="hover:underline">Contact us</a>
  </div>
</div>
