---

---

<div class="bg-yellow-200 p-10">
  <div
    class="relative mx-auto overflow-hidden rounded-2xl flex justify-center items-center pt-[56.25%] sm:w-3/4 sm:pt-[40%] lg:w-3/5 lg:pt-[33.33%] min-h-f"
  >
    <div
      class="absolute top-0 left-0 w-full h-full flex duration-500 ease-in-out"
      id="slides"
    >
      <div
        class="min-w-full flex justify-center items-center cursor-pointer"
        data-slide-index="0"
      >
        <img
          src="image1.jpeg"
          alt="Slide 1"
          class="w-full object-cover h-auto max-h-full"
        />
      </div>
      <div
        class="min-w-full flex justify-center items-center flex-shrink-0 cursor-pointer"
        data-slide-index="1"
      >
        <img
          src="image2.jpeg"
          alt="Slide 2"
          class="w-full object-cover h-auto max-h-full"
        />
      </div>
      <div
        class="min-w-full flex justify-center items-center flex-shrink-0 cursor-pointer"
        data-slide-index="2"
      >
        <img
          src="image3.jpeg"
          alt="Slide 3"
          class="w-full object-cover h-auto max-h-full"
        />
      </div>
      <div
        class="min-w-full flex justify-center items-center flex-shrink-0 cursor-pointer"
        data-slide-index="3"
      >
        <img
          src="image4.jpeg"
          alt="Slide 4"
          class="w-full object-cover h-auto max-h-full"
        />
      </div>
      <div
        class="min-w-full flex justify-center items-center flex-shrink-0 cursor-pointer"
        data-slide-index="4"
      >
        <img
          src="image5.jpeg"
          alt="Slide 5"
          class="w-full object-cover h-auto max-h-full"
        />
      </div>
      <div
        class="min-w-full flex justify-center items-center flex-shrink-0 cursor-pointer"
        data-slide-index="5"
      >
        <img
          src="image6.jpeg"
          alt="Slide 6"
          class="w-full object-cover h-auto max-h-full"
        />
      </div>
      <div
        class="min-w-full flex justify-center items-center flex-shrink-0 cursor-pointer"
        data-slide-index="6"
      >
        <img
          src="image7.jpeg"
          alt="Slide 7"
          class="w-full object-cover h-auto max-h-full"
        />
      </div>
    </div>
  </div>
</div>
