---

---

<>
  <a href="/products">
    <button
      class="text-orange-400 border-2 rounded-full border-orange-400 py-3 px-12 font-semibold hover:bg-orange-400"
    >
      View all products</button
    >
  </a>
</>
